* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  letter-spacing: 2px;
}

#wishlist,
#veg {
  padding: 30px 40px;
  background-color: #f1f5f8;
  text-align: center;
  width: 80%;
  margin: 30px 10%;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px rgb(189, 189, 189);
}

#wishlist h1 {
  margin-bottom: 15px;
}

#wishlist input {
  padding: 2px 4px;
  margin-right: 20px;
}

#wishlist button {
  padding: 4px 10px;
  background: #000;
  color: white;
  border: none;
}

#wishlist li {
  list-style: none;
  font-size: 15px;
  background-color: rgb(214, 214, 214);
  color: black;
  width: 60%;
  margin: 15px auto 0;
  padding: 9px;
  font-weight: bold;
  border-radius: 7px;
}

#wishlist h2 {
  margin-bottom: 15px;
}

#veg h2 {
  margin-bottom: 15px;
}

.veg {
  border: 1px solid rgb(212, 210, 210);
  margin-top: 15px;
  padding: 10px;
  border-radius: 7px;
  /* border: none; */
}

.veg button {
  padding: 5px 8px;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid black;
}
